body{
	background-color: #f9c5d1;
	background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}
h1 {
	position: absolute;
	transform: translate(170px, 170px);
	text-transform: uppercase;
	word-spacing: 60px;
}
.links {
	position: absolute;
	transform: translate(300px, 300px);
}
.links a {
	text-decoration: none;
	color: #fff;
}
